* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(38, 38, 61);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.App {
  width: 310px;
  background-color: rgb(72, 118, 142);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 450px;
}
h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.password-div {
  display: flex;
  gap: 5px;
}
.password-div input {
  flex-basis: 75%;
  padding: 11px;
  border-radius: 10px;
  border: 2px solid blueviolet;
}
.password-div button {
  cursor: pointer;
  flex-basis: 20%;
  padding: 11px;
  border-radius: 10px;
  border: 2px solid blueviolet;
}
.passwordBox-lable {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
  background-color: cadetblue;
  border-radius: 10px;
  height: 34px;
  padding: 10px;
}
.passwordBox-lable label {
  color: black;
  font-size: 25px;
  background-color: white;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 2px;
  padding-bottom: 4px;
  transform-style: preserve-3d;
  transition: auto;
  border: 1px solid;
  border-radius: inherit;
}
.passwordBox-lable input {
  cursor: pointer;
}
.normal-div {
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
  background-color: #5f9ea02b;
  padding: 13px;
  margin-top: 10px;
  color: floralwhite;
}
.btn-gen {
  text-align: center !important;
  padding: 10px 15px;
  /* background-color: rgba(102, 153, 204, 0.267)!important; */
  color: white !important;
}
.btn-gen button {
  cursor: pointer;
  text-align: center;
  width: -webkit-fill-available;
  /* height: -webkit-fill-available; */
  font-size: larger;
  padding: unset;
  height: 40px;
  border-radius: 16px;
  border: 2px solid;
}
.btn-gen button:hover {
  background-color: rgb(153, 180, 204);
  color: whitesmoke;
  border-color: whitesmoke;
}
